*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body{
	font-family: 'Poppins' , sans-serif;
	
}
.img2,.img3,.img4,.img5,.img6{
	border-radius: 50px;
}
.pic2,.pic4,.pic6{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px 0px 20px 0px;
}
.pic3,.pic5{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin: 30px 0px 20px 0px;
}
.text2,.text4,.text6{
	padding: 13% 0% 5% 5%;
}
.text5,.text3{
	margin:  13% 5% 5% 0%;

}
.text{
	position: relative;
    font-size: 1.5vw;
    padding: 200px 0px 300px 40px;
    color: white;
}
.etab{
	position: relative;
	background-image: url("https://h1teshtr1path1.github.io/images/6.png");
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.enjos{
	background-image: url("https://h1teshtr1path1.github.io/images/logo.png");
	background-repeat: no-repeat;
	position:fixed;
	background-size: 15% 90%;
	padding:  10px 0px 10px 10px;
	background-color: red;
	width: 100%;
	font-size: 1vw;
	overflow:hidden;
	z-index: 1;

}



.button1{
	background-color: white;
	color: red;
	border:none;
	text-align: center;
	display: inline-block;
	font-size: 3vw;
	width: 60vw;
	height: 3.5vw;
	border-radius: 1vw;
}
.button{
	position: relative;
	bottom:  10vw;
	display: flex;
	justify-content: center;
}
.video{
	position: relative;
	padding: 60px 0px 50px 0px;
	text-align: center;

}
ul{
	
	font-size: 2vw;
	padding: 0% 0% 10% 30%;
}
ul li:before{
	content: "\2714\0020";
	color: red;
}





@media only screen and (max-width: 768px)
{
.img2,.img3,.img4,.img5,.img6{
	position: relative;
	width: 50%;
	height: 50%;
	margin-left: 5%;
	border: none;
	float: none;
	border-radius: 0px;
	padding: 0px;
}
.pic2,.pic3,.pic4,.pic5,.pic6{
	font-size: 2vw;
	display: block;
	justify-content: center;
	padding: 5% 0% 5% 0%;
	text-align: center;
	float: none;
	
}
.text3,.text5,.text2,.text4,.text6
{
	float: none;
	font-size: 2.5vw;
	text-align: center;

}
.button{
	position: relative;
	top: 25vw;
	display: flex;
	justify-content: center;
}



.text{
	position: relative;
    font-size: 2.5vw;
    color: white;
    padding: 60px 0px 125px 10px;
}




.etab{
	position: relative;
	padding: 50px 30px 200px 30px;
	color: white;
	font-size: 2vw;
	background-image: url("6.png");
	background-size: 100% 100%;
	background-attachment: fixed;
}
ul{
	padding: 20px 0px 200px 100px;
	font-size: 2.5vw;
	
}

}
