*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body{
	font-family: 'Poppins' , sans-serif;
	
}

.sliderimg{
  width: 100%;
  height: auto;
}
.text4 {
    padding: 0% 0% 0% 5%;
}
.pic2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px 0px 20px 0px;
}
.pic3{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin: 30px 0px 20px 0px;
}
.pic4{
  display: flex;
  flex-direction: row;
  justify-content: center;
margin:100px 20px 50px 80px ;
}

.text2,.text6{
	padding: 5% 0% 5% 5%;
}

.text5,.text3{
	padding:  5% 5% 5% 5%;

}


.text{
	position: relative;
    font-size: 1.5vw;
    padding: 200px 0px 300px 40px;
    color: white;
}
.etab{
	position: relative;
	background-image: url("https://github.com/h1teshtr1path1/h1teshtr1path1.github.io/blob/master/images/6.png?raw=true");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.enjos{
	background-image: url("https://github.com/h1teshtr1path1/h1teshtr1path1.github.io/blob/master/images/logo.png?raw=true");
	background-repeat: no-repeat;
	position:fixed;
	background-size: 15% 90%;
	padding:  10px 0px 10px 10px;
	background-color: red;
	width: 100%;
	font-size: 1vw;
	overflow:hidden;
	z-index: 1;

}

.para{
  max-width: 480px;
}
.button1{
	background-color: white;
	color: red;
	border:none;
	text-align: center;
	display: inline-block;
	font-size: 2.5vw;
	width: 60vw;
	height: 3.5vw;
	border-radius: 2vw;
}
.but1{
	background-color: red;
	color: white;
	font-size: 1.1em;
	border-radius: 2vw;
	border: none;
	margin: 20px 0px 0px 0px;
	width:auto;
	height: auto;
  padding: 5px 30px 5px 30px;


}
.button{
	position: relative;
	bottom:  10vw;
	display: flex;
	justify-content: center;
}

.video{
	position: relative;
	border: 0;
	font-size: 1.5vw;
	padding-bottom: 50px;
	text-align: center;

}
.abc>ul{
	
	font-size: 2.3vw;
}
 .abc>ul> li:before{
	content: "\2714\0020";
	color: red;
}


.slideshow-container {
width: 40%;
height: auto;
  position: relative;

  
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: auto;
 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}














@media only screen and (max-width: 768px)
{

.img2{
	position: relative;
	width: 80%;
	height: 100%;
	margin: auto;
	border: none;
	float: none;
	border-radius: 0px;
	padding: 0px;
}
.para{
  margin: auto;
  font-size: 1.3em;
  max-width: 40em;
  padding: 0;
}

.pic2,.pic3{
	font-size: 2vw;
	display: block;
	justify-content: center;
	padding: 5% 0% 5% 0%;
	text-align: center;
	float: none;
	
}
.pic4{
  margin: auto;
  font-size: 2vw;
  display: block;
  justify-content: center;
  padding: 5% 0% 5% 0%;
  text-align: center;
  float: none;
}

.button{
	position: relative;
	top: 25vw;
	display: flex;
	justify-content: center;
}



.text{
	position: relative;
    font-size: 2.5vw;
    color: white;
    padding: 60px 0px 125px 10px;
}




.etab{
	position: relative;
	padding: 50px 30px 200px 30px;
	color: white;
	font-size: 2vw;
	height:70vh;
	background-image: url("https://github.com/h1teshtr1path1/h1teshtr1path1.github.io/blob/master/images/6.png?raw=true");
	background-size: 100% 100%;
	background-attachment: fixed;
}
.end{
	padding: 20px 0px 200px 20px;
	font-size: 2.5vw;
	
}

.slideshow-container{
  width: 100%;
  height: auto;
  margin: auto;
}
.content{
	padding:10px;
	}
	
	.text2,.text3,.text4,.text5,.text6{
	padding:5% 0%;
		margin:auto;
	}
	.but1{
	font-size: 1.3em;
	margin: 20px 0px 0px 0px;
	width:auto;
	height: auto;


}

}

